<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
<key>CFBundleDisplayName</key><string>Desktop2Stereo</string>
<key>CFBundleExecutable</key><string>Desktop2Stereo</string>
<key>CFBundleIdentifier</key><string>site.d2s.desktop2stereo.launcher</string>
<key>CFBundlePackageType</key><string>APPL</string>
<key>CFBundleIconFile</key><string>icon-256x256.png</string>
</dict></plist>
